@use '../../rules/mixins';

.EntretienTambourChamanique {
	.article > section {
		@include mixins.article-section;
		align-items: center;
	}

	.article section aside > div {
		@include mixins.flex-content-center;
	}

	aside {
		@include mixins.paragraphe-img-container;
	}

	.paragraphe-1-1 .paragraphe-content,
	.paragraphe-1-2 .paragraphe-content,
	.paragraphe-2-1 .paragraphe-content,
	.paragraphe-2-2 .paragraphe-content,
	.paragraphe-2-3 .paragraphe-content,
	.paragraphe-3 .paragraphe-content,
	.paragraphe-4 .paragraphe-content,
	.paragraphe-5 .paragraphe-content,
	.paragraphe-6 .paragraphe-content,
	.paragraphe-7 .paragraphe-content {
		@include mixins.paragraphe-txt-container;
	}

	img {
		@include mixins.paragraphe-img;
	}
}

@media (min-width: 427px) and (max-width: 768px) {
	.EntretienTambourChamanique {
		.img-marcheur-tambour,
		.img-mon-tambour,
		.img-tambour-arbre-bleu {
			width: 50%;
			height: 50%;
		}
		.paragraphe-1 .paragraphe-content {
			flex: 1 1;
		}
		.article section aside {
			flex: 2 1;
		}
	}
}

@media (max-width: 768px) {
	.EntretienTambourChamanique {
		.article section {
			flex-direction: column;
		}
	}
}

@media (min-width: 769px) {
	.EntretienTambourChamanique aside {
		flex-direction: inherit;
	}
}

@media (min-width: 768px) and (max-width: 1200px) {
	.EntretienTambourChamanique aside {
		margin-right: 1em;
	}
}
