:root {
	--text-color: #22225a !important;
	--text-color-secondary: #00b6b6 !important;
	--primary-color-text: #ffffff !important;
	--primary-color: #2c3e50 !important;
	--secondary-color-text: #22225a !important;
	--secondary-color: #00b6b6 !important;
	--tertiary-color: #686087 !important;
	--background-main-color: #eeeeee !important;
	//--background-color: rgba(240,240,240,.8) !important;
	--background-color: #fafafa !important;
	--shadow: rgba(128, 128, 128, 0.1) !important;
	--shadow-ligth: rgba(255, 255, 255, 0.9) !important;
	--grey-medium: rgba(128, 128, 128) !important;
	--grey-light: #ccc !important;
	--danger: #e60017 !important;
	--warning: rgb(255, 98, 0);
}
