$neutre-color: grey;
$rose-color: #f197e3;
$jaune-paille-color: #eefb58;

$text-shadow:
	var(--primary-color) 1px 0px 0px,
	var(--primary-color) 0.540302px 0.841471px 0px,
	var(--primary-color) -0.416147px 0.909297px 0px,
	var(--primary-color) -0.989992px 0.14112px 0px,
	var(--primary-color) -0.653644px -0.756802px 0px,
	var(--primary-color) 0.283662px -0.958924px 0px,
	var(--primary-color) 0.96017px -0.279416px 0px;

/* Réseaux */
$bronze-color: #614e1a;
$curry-color: #f197e3;
$cobalt-color: #22427c;
$hartman-color: #333;
$or-color: gold;
$silver-color: silver;
$titane-color: #196b00;

.text-shadow {
	text-shadow: $text-shadow;
}

.text-argent {
	color: $silver-color !important;
}

.text-hartman {
	color: $hartman-color !important;
}

.text-curry {
	color: $curry-color !important;
}

.text-titane {
	color: $titane-color !important;
}

.text-cobalt {
	color: $cobalt-color !important;
}

/* Elements */
$eau-color: #97e9f1;
$feu-color: #ff4901;
$terre-color: #582900;
$air-color: silver;

.text-eau {
	color: $eau-color !important;
}
.text-feu {
	color: $feu-color !important;
}
.text-terre {
	color: $terre-color !important;
}
.text-air {
	color: $air-color !important;
}

/* Presences */
.text-fee {
	color: $rose-color !important;
}

.text-deva-nature {
	color: $titane-color !important;
}

/* Autres */
.text-neutre {
	color: $neutre-color !important;
}

.text-jaune-paille {
	color: $jaune-paille-color !important;
}
