@use '../../../rules/mixins';
@use 'FontColorGeobio';

.LeLavoirDeLaSourceAuxFees {
	article > section {
		@include mixins.article-section;
		align-items: center;
	}

	article section aside > div {
		@include mixins.flex-content-center;
	}

	aside {
		@include mixins.paragraphe-img-container;
	}

	.paragraphe-1 .paragraphe-content,
	.paragraphe-2 .paragraphe-content,
	.paragraphe-3 .paragraphe-content,
	.paragraphe-4 .paragraphe-content,
	.paragraphe-5 .paragraphe-content {
		@include mixins.paragraphe-txt-container;
	}

	.paragraphe-1 {
		margin-top: 1rem;
	}

	.paragraphe-5 ol {
		margin-left: 1.5rem;
	}

	img,
	video {
		@include mixins.paragraphe-img;
	}

	.img-presences-source-aux-fees-lavoir {
		width: 100% !important;
	}
}

@media (min-width: 427px) and (max-width: 768px) {
	.LeLavoirDeLaSourceAuxFees {
		.paragraphe-1 .paragraphe-content {
			flex: 1 1;
		}
		article section aside {
			flex: 2 1;
		}
	}
}

@media (max-width: 768px) {
	.LeLavoirDeLaSourceAuxFees {
		article section {
			flex-direction: column;
		}
	}
}

@media (min-width: 769px) {
	.LeLavoirDeLaSourceAuxFees aside {
		flex-direction: inherit;
	}
}

@media (min-width: 768px) and (max-width: 1200px) {
	.LeLavoirDeLaSourceAuxFees aside {
		margin-right: 1em;
	}
}
